.export_select_block {
    width: 40%;
    display: inline-block;
}

.progress-block, .result-block {
    margin-top: 30px;
    display: none;
}

.alert {
    display: none;
    opacity: 0.6;
}

.form-export {
    margin-bottom: 20px;
}