.table th a:after {
    content: "\2193";
    margin-left: 0.5em;
    font-size: 1.25em;
    opacity: 0;
}

.table th .asc:after {
    content: "\2191";
    opacity: 1;

}

.table th .desc:after {
    content: "\2193";
    opacity: 1;
}

.table th a:after {
    content: "\2193";
    margin-left: 0.5em;
    font-size: 1.25em;
    opacity: 0;
}

.table-responsive {
    overflow-x: initial;
}

#image-list-pjax {

}

#image-list-pjax .image-list {
    position: relative;
}

#image-list-pjax .image-list .image {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
}

#image-list-pjax .image-list .image img {
    position: relative;
    max-width: 100%;
}

#image-list-pjax .image-list .image a.delete-link {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: #f4f4f4;
    color: #444;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

#image-list-pjax .image-list .image a.delete-link:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
}

.devup-bc .breadcrumb {
    padding: 0;
    margin: 0;
    background: inherit;
    float: left;
}

.navbar-top-links li {
    display: inline-block;
}

.devup-bc .breadcrumb li a {
    display: inline-block;
}

.navbar-top-links li a, .navbar-top-links li span {
    padding: 15px;
    min-height: 50px;
}

.breadcrumb > .active {
    /*color: #ffffff;*/
}

.navbar-top-links li {
    display: inline-block;
}

.skin-black .main-header .navbar > .sidebar-toggle {

}

.form-actions.stuck {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    margin-bottom: 0;
    z-index: 5;
    border-radius: 0;
}

.ui-sortable-handle:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ui-sortable-handle:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}